:root {
  --base-color: #1652f0;
  --primary-color: #05b169;
  --secondary-color: #ffcf40;
  --font-stack: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-stack);
  color: #000;
  overflow-x: hidden;
  background-image: url(/img/signup.png);
  background-repeat: no-repeat;
  max-width: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  /* background-color: white; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-stack);
  font-weight: bold;
  color: var(--base-color);
}

/* Utilities
   ============================= */

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

/* Header 
   ============================= */
header {
  padding-left: 2rem;
  padding-right: 2rem;
  background: var(--secondary-color);
  border-bottom: 1px solid #333;
}

header nav .current {
  border-bottom: 2px solid var(--primary-color);
}

header nav .nav-item {
  margin-right: 1rem;
}

header nav .btn.bg-primary {
  padding-top: 0;
  padding-bottom: 0;
  background: var(--primary-color) !important;
}

header nav a:hover {
  opacity: 0.5;
}

header div .btn:hover {
  opacity: 0.8 !important;
}

/* Form - Sign-Up
   ============================= */
form#form {
  background-color: white;
  width: 40%;
  margin-top: 50px;
  padding: 20px 0;
  border-radius: 5px;
  margin-bottom: 99px;
}

label {
  color: #818181;
}
p {
  color: #818181;
  margin-bottom: 20px;
}
button {
  margin: 20px 0;
}
button.normal-signin {
  background: #05b169;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
button.google-signin {
  background: #1652f0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

/* Form - Sign-in
   ============================= */
form#form {
  background-color: white;
  width: 40%;
  margin-top: 50px;
  padding: 20px 0;
  border-radius: 5px;
  margin-bottom: 99px;
}

p.signin {
  font-size: 1.1em;
}

/* .password {
  visibility: visible;
} */

/* Footer 
   ============================= */
footer {
  background-color: var(--base-color) !important;
  padding: 4rem;
}
footer p {
  color: white !important;
  display: block;
  line-height: 200.5%;
  font-weight: 300;
  opacity: 0.7;
}
footer a {
  color: white !important;
  display: block;
  line-height: 270%;
  font-weight: 300;
  opacity: 0.7;
}
footer a:hover {
  opacity: 0.8 !important;
  color: white !important;
  text-decoration: none;
}
footer p.head {
  opacity: 0.9;
  font-weight: bold;
  font-size: 1rem;
}

footer hr {
  background-color: white;
  margin-top: 30px;
}
footer a {
  font-size: 1em;
}
footer p {
  font-size: 0.8em;
  font-weight: bold;
}
footer p.intro {
  font-size: 1em;
}
footer p.head {
  font-size: 1em;
  font-weight: bold;
}

footer p.contact {
  font-size: 1em;
  font-weight: normal;
}
footer input {
  border: 0;
  padding: 30px;
}
div p.newsletter {
  font-size: 0.5em;
  font-weight: normal;
}

footer .floor {
  margin-top: 20px;
  font-size: 0.6em;
}

footer .logo img {
  width: 30px;
  height: 30px;
  transition: ease-in-out 0.4s all;
  cursor: pointer;
}
footer .logo img:hover {
  width: 35px;
  height: 35px;
}

@media (max-width: 768px) {
  /* Header */
  body {
    background: none;
  }
  header nav .btn {
    margin-top: 1rem;
  }

  /* Responsiveness
   ============================= */

  form#form {
    background-color: white;
    width: 80%;
    margin-top: 0px;
    padding-top: 20px;
  }
  /* Footer
   ============================= */
  footer p {
    font-size: 0.7rem;
  }

  footer a {
    font-size: 0.7rem;
  }
  footer .top-buffer {
    margin-top: 40px;
  }
  .password {
    visibility: visible;
  }
}

/* Responsiveness 
   ============================= */
@media screen and (max-width: 1024px) {
  /* Header */

  header nav .btn {
    margin-top: 1rem;
  }
  h2.signin {
    font-size: 1.6em;
  }
  /* p.signin {
    font-size: 0.9em;
  } */
  form#form {
    background-color: white;
    width: 100%;
    margin-top: 0px;
    padding-top: 20px;
  }
  /* Footer
   ============================= */
  /* footer p {
    font-size: 0.7rem;
  }

  footer a {
    font-size: 0.7rem;
  } */
  footer .top-buffer {
    margin-top: 40px;
  }
  footer p.intro {
    font-size: 1em;
  }
  footer p.head {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
  }
  footer p.contact {
    font-size: 1em;
    font-weight: normal;
  }
  .password {
    visibility: visible;
  }
}
